---
import ViewImageDialog from "@/components/ViewImageDialog";
import "@/styles/globals.css";
import axios from "axios";

const { data } = await axios.get<string[]>("https://api.redroc.xyz/search");

console.log(data);
---

<ul role="list" class="flex gap-4 flex-wrap justify-center">
  {
    data.map((item) => (
      <li class="w-48 h-48 rounded cursor-pointer">
        <ViewImageDialog item={item} client:visible />
      </li>
    ))
  }
</ul>
