---
import ModeToggle from "@/components/ModeToggle";
import UploadDialog from "@/components/UploadDialog";
---

<nav
  class="flex px-6 py-3 border-b border-border justify-between max-h-lg mb-12"
>
  <div class="max-w-screen-lg flex w-full m-auto items-center">
    <div class="flex flex-col">
      <a href="/" class="text-2xl font-bold text-primary"> Redroc</a>
    </div>

    <div class="flex flex-1 justify-end text-right h-fit items-center gap-2">
      <UploadDialog client:idle />
      <ModeToggle client:idle />
    </div>
  </div>
</nav>
