---
import Nav from "@/components/Nav.astro";
import "@fontsource/bricolage-grotesque";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Redroc" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-background">
    <Nav />
    <main class="px-6 max-h-lg max-w-screen-lg m-auto">
      <slot />
    </main>
  </body>
</html>

<script>
  const root = window.document.documentElement;
  const theme = localStorage.getItem("theme");
  console.log({ theme });
  if (theme) {
    root.classList.add(theme);
  } else {
    const systemTheme = window.matchMedia("(prefers-color-scheme: dark)")
      .matches
      ? "dark"
      : "light";
    root.classList.add(systemTheme);
  }
</script>
